{% extends 'DiarioProfessorBundle::layout.html.twig' %}

{% block page_header %}
	<div class="page-header">
	      <h1>{% block headline %}Página Inicial{% endblock headline %}</h1>
	</div>
{% endblock %}

{% block content %}

	<div class="starter-template">
    	<h1>Sistema de controle de frequencia</h1>
        <p class="lead">
        	Universidade Federal de Ouro Preto
        </p>
    </div>

{% endblock %}


