{% extends 'DiarioProfessorBundle::layout.html.twig' %}
{% block content %}
    <div class="page-header">
        <h1>Importar</h1>
    </div>
    <form class="form-horizontal" action="{{ path('professor_turma_processar') }}" method="post" {{ form_enctype(form) }}>
        <div id="error-container"></div>
        <div class="form-content">
            {{ form_widget(form) }}
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary"><i class="icon-arrow-right icon-white"></i> Next</button>
        </div>
    </form>
{% endblock %}
